<!--<div class="row wtih_top10">
    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
        <h2>Кишинев - Бургас - Несебр</h2><br />
        <img src="/Content/Images/to_bulgaria.jpg" width="100%" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
        <h2>Дюни - Бургас - Кишинев</h2><br />
        <img src="/Content/Images/from_bulgaria.jpg" width="100%" />
    </div>
</div>
<div class="row wtih_top10">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <h2>Описание автобусов</h2>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <img src="/Content/Images/autobus_foto.jpg" width="100%" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <b>Время отправления из Кишинёва: 16.00 или 18:00. <br /> Время посадки 15.40 или 17:30.</b> <br />
            Автобусы VIP-класса. VOLVO 2009 год выпуска <br />
            <b>В стоимость билета входит:</b> проезд в один конец, трансфер (остановка-отель или отель-остановка).<br />
            <b>Трансфер не осущетвляется на курортах:</b> Созополь, Поморие, Обзор, Балчик.<br />
            <b>В автобусах:</b> кондиционер,DVD/CD,2-6 мониторов, радио, микрофон, холодильник, чайник.<br />
            Оставляем за собой право изменить стоимость билета в случае значительного повышения цен на дизельное топливо.
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <img src="/Content/Images/IMG_3932.JPG" width="100%" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <img src="/Content/Images/IMG_3928.JPG" width="100%" />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <img src="/Content/Images/0093.jpg" width="100%" />
        </div>
    </div>
</div> -->