<div class="modal fade" id="HowToPay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Способы оплаты</h4>
            </div>
            <div class="modal-body">
                1. Кредитной картой по номеру заявки (вы получите его после выбора мест(а) и отправки заявки)  <br />
                2. Наличными в нашем офисе или офисе партнера. Список <a href="http://www.balkan.ru/contacts.php" target="_blank">наших адресов</a>
                <br/>
                <div style="text-align: center;">
                    <img src="../../Content/images/logo_visa_mastercard.jpg" width="150" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>