
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Seemplexity.Resources.Resources.UsersList, "ViewUsers", "Admin")</li>
        @*<li>@Html.ActionLink(Seemplexity.Resources.Resources.BusTours, "ViewBusTours", "Admin")</li>*@
        <li>@Html.ActionLink(Seemplexity.Resources.Resources.BusDescriptions, "ViewBusDescriptions", "Admin")</li>
    </ul>
</div>
