@using Seemplexity.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.NotConfirmed;
}

<h2>@Resources.NotConfirmed</h2>
<div class="bs-callout bs-callout-info">
    <h4>
        @Resources.ConfirmationHasSended
    </h4>
</div>
