@using Seemplexity.Resources

@{
    ViewBag.Title = @Resources.ToPartners;
}

<div class="container body-content rwx-10" style="margin-top:50px;">
<!--<h2>@Resources.ToPartners</h2> -->

<p>
    Balkan.md приглашает к сотрудничеству автотранспортные предприятия и всех
    участников туристического рынка, заинтересованных в динамичном и успешном развитии
    бизнеса с использованием высокотехнологичных решений.
</p>

<p>
    У вас появится возможность:
    <ul>
        <li>Увеличить объем продаж;</li>
        <li>Вести удаленное администрирование;</li>
        <li>Управлять пассажиропотоком;</li>
        <li>Анализировать и просматривать отчетность.</li>
    </ul>
</p>
<p>Связаться с нами Вы можете по e-mail: <a href="mailto:region@balkan.ru">region@balkan.ru</a></p>
</div>