@using Seemplexity.Resources

@{
    ViewBag.Title = @Resources.Curorts;
}

<h2>Болгария</h2>

<h4>Дюни</h4>

<p>
    Курортный поселок Дюни находится в 40 км к югу от Бургаса и всего в 8 км от очаровательного по
    архитектуре и интересного своей древней историей городка Созополь.
</p>

<p>
    Курорт Дюни расположился на территории природного заповедника и, одновременно, у подножия
    горного массива Странджа, что создает характерное для большинства Болгарских курортов
    сочетание горного воздуха с мягким морским климатом. Пляжная песчаная полоса на удивление
    широкая и местами доходит до 100 м. Большое количество природных дюн стали причиной для
    названия курорта.
</p>

<p>
    Здесь отличные по уровню комфорта отели. Даже если их внешний вид включает элементы
    национальной архитектуры прошлого столетия, оказавшись внутри, вам придется вспомнить
    европейские стандарты, чтобы точно описать уровень их сервиса. Все отели курорта работают по
    системе «все включено».
</p>

<p>
    Для активного отдыха на курорте есть плавательные комплексы, теннисные корты, настольный
    теннис, стрельба из лука, аэробика, велосипеды, волейбол, футбол, серфинг, фитнес и большой
    выбор развлечений на воде.
</p>

<p>
    Если вы отправляетесь на отдых с детьми, то вам и вашим малышам некогда будет скучать — детей
    здесь ждет интересная анимация, бассейны и игровые площадки, детские дискотеки и мини-клубы с
    разнообразными программами. А если на отдых отправляется молодая мама, она за время
    развлечения малыша аниматорами или воспитателем сможет посетить СПА-салон.
</p>

<p>
    Курорт Дюни ждет вас — ценителей моря, солнца, гор и комфортного отдыха!
</p>