@using Seemplexity.Resources

@{
    ViewBag.Title = @Resources.Curorts;
}
<h2>Болгария</h2>

<h4>Елените</h4>

<p>
    Курортный поселок Елените находится непосредственно на морском берегу, в 10 км восточнее Солнечного
    берега, у подножия горного хребта Стара Планина, даруя всем своим гостям уникальное впечатление от
    места, где горы встречаются с морем. Одноименный комплекс Елените, работающий по клубной системе «все
    включено», является одновременно очень современным, респектабельным и демократичным местом
    отдыха. Отели на берегу моря и виллы, окруженные парками и аллеями, предлагают отличный сервис.
    Клубный комплекс имеет большую анимационную и спортивную программу для взрослых и детей: теннисный
    корты, поле для стрельбы из лука, мини-гольф, фитнес-зал, открытый бассейн с морской водой, аквапарк и
    яхт-клуб. Елените — это место отдыха для тех, кто ценит природное богатство курорта в сочетании с высоким
    уровнем сервиса. Здесь есть все необходимое для полноценного и комфортного отдыха: песчаный пляж,
    чистое море, рестораны с европейской и национальной кухней, таверны, винный погребок, дневные и ночные
    бары, дискотеки, детский клуб и прекрасный аквапарк, бесплатный для гостей отелей клуба Елените. Катание
    с горок бесплатно для всех гостей отелей Елените, но деньги вам понадобятся, если вы захотите
    воспользоваться услугами баров.
</p>