@using Seemplexity.Resources

@{
    ViewBag.Title = @Resources.Curorts;
}

<h2>Болгария</h2>

<h4>Солнечный Берег</h4>

<p>
    6 км пляжа, 1700 часов солнца с мая по октябрь, прекрасный золотистый песочек, свежий морской
    бриз, делающий ночи прохладными, а дни – приятными, естественные дюны, шелковистые волны
    ласкового моря – ради этого стоит приехать отдыхать на курорт Солнечный берег. Солнечный берег
    - один из крупнейших семейных курортов Болгарии. Он находится на юге Черноморского
    побережья, в 35 км от Бургаса и 95 км от Варны. Солнечный берег награжден престижной
    международной наградой «Синий Флаг» за чистоту пляжа и моря. Солнечный берег расположился на
    берегу полукруглого залива, пляжи которого обращены на Восток. Это довольно редкое и
    благоприятное природное сочетание, в Европе немного пляжей с восточным морским горизонтом. С
    севера залив замыкается отрогами горного массива Стара Планина. В южной части курорта
    береговая линия образует естественные песчаные дюны, среди которых сохранены 16 видов редких
    растений, отмеченные в Красной книге Болгарии, и произрастающие только здесь.
</p>

<h4>Инфраструктура</h4>
<p>
    Солнечный берег активно развивается. Ежегодно его инфраструктура прирастает новыми отелями,
    ресторанами и увеселительными заведениями. На сегодняшний день Солнечный берег насчитывает
    более сотни отелей, окруженных зеленью, тенистыми парками и садами. На территории курорта
    также разместились три кемпинга, многочисленные виллы, коттеджи и пансионаты. Здесь все рядом:
    из северной или южной части курорта до центра можно добраться за 10 минут неспешной ходьбы
    пешком. Но если Вы устали, воспользуйтесь мини-поездом - экологически чистым транспортом,
    курсирующим вдоль десятикилометрового комплекса, или услугами велорикши.
</p>

<h4>Для детей</h4>
<p>
    Солнечный берег – райский уголок для отдыха с детьми. Спокойный залив с пологим дном, море без
    больших волн, отсутствие в нем опасной морской фауны, несколько бассейнов для детей,
    огороженных площадками с качелями, горками и другими игровыми сооружениями, один из самых
    больших на побережье Болгарии аквапарк Action. Вот оно - настоящее детское счастье! Прибавьте к
    этому удовольствие строить песчаные замки на пляже, рисовать на асфальте, участвовать в
    соревнованиях и других веселых играх, танцевать на детской дискотеке, кататься на пони, причем
    под бдительным присмотром квалифицированного персонала детсадов. Это уже истинное счастье
    для родителей, которые могут наслаждать отдыхом, не беспокоясь за безопасность собственных
    детей.
</p>

<h4>Активный отдых</h4>
<p>
    На пляже созданы все условия для активного отдыха на воде: водные лыжи и велосипеды,
    гидроциклы и катамараны. Можно совершить прогулку на яхте и полетать на дельтаплане. Для
    любителей активного отдыха на суше в Солнечном береге открыты теннисные корты, баскетбольные
    и волейбольные площадки, конная база с породистыми лошадьми, боулинг-центр. Есть поля для
    мини-гольфа и стрельбы из лука, тренажерные залы и бассейны. Можно поиграть в теннис,
    волейбол, боулинг, заняться фитнессом. В общем, скучать будет некогда!
</p>

<h4>Развлечения</h4>
<p>
    Курорт Солнечный Берег – это постоянное веселье и шумный отдых, не прекращающиеся ни днем,
    ни ночью. Чтобы в полной мере ощутить ритм жизни курорта, нужно оказаться в самом его центре,
    где сосредоточены многочисленные увеселительные заведения: магазины, аттракционы, ночные
    клубы, бары и дискотеки («Мультиплейс», «Айсберг», «Лазур», «Мания» и «Ориндж»).
    Развлекательные и фольклорные программы устраиваются в ресторанах «Ветрянная мельница»,
    «Южни нощи», «Фрегата», аттракционный ресторан «Ханска Шатра». Знакомство с шедеврами
    местной кухни обычно сопровождается национальными танцами и песнями, а когда стемнеет, Вы
    увидите традиционные нестинарские танцы на углях. Для любителей азартных игр в Солнечном
    береге есть столы для рулетки, блэк-джека и баккара.
</p>

<h4>Достопримечательности</h4>
<p>
    Отдыхающие в Солнечном Береге с удовольствием отправляются на экскурсии в старинный город
    Несебр, памятник культуры, охраняющийся ЮНЕСКО, посещают этнографический комплекс Святой
    Влас, курорт Элените, одно из древнейших греческих поселений в Созополе, королевский дворец в
    Балчике или Варну, славящуюся своими историческими памятниками и музеями.
</p>