@using Seemplexity.Resources

@{
    ViewBag.Title = @Resources.Curorts;
}




<h4>Золотые пески</h4>

</div>
<div class="container body-content rwx-10" style="margin-top:50px;">
<p>
    Золотые пески – самый крупный курорт на северном черноморском побережье, расположенный в 18
    км севернее Варны, в национальном парке «Золотые пески». Курорт пленяет своим живописным
    лесом, изобилием минеральных источников, уникальной природой и, конечно, широкими золотисто-
    желтыми песчаными пляжами. По древней легенде некие пираты зарыли на побережье большой
    золотой клад, но не смогли его обнаружить, – золото превратилось в песок. Поэтому пляж,
    протянувшийся на 3,5 км вдоль побережья и местами достигающий 100 м в ширину, носит название
    «Золотые пески». Лето на курорте долгое и теплое, средняя температура воздуха - +27 градусов,
    моря – +24-25 градусов. За заботу об экологии курорт был удостоен международного сертификата
    «Голубой флаг».
</p>

<h4>Инфраструктура</h4>
<p>
    На курорте Золотые пески работает около 70-ти отелей, в большинстве своем частных. Они

    расположены среди прохладной зелени парка, спускающегося к пляжу. Золотые пески – курорт для

    всех категорий туристов. Любой отдыхающий найдет здесь развлечение на свой вкус.
</p>

<h4>Для детей</h4>
<p>
    Дети и подростки почувствуют себя в Золотых песках по-настоящему счастливыми. Детские центры
    и мини-клубы при отелях позволят полноценно отдохнуть и детям, и родителям. Опытные
    воспитатели и аниматоры предложат маленьким гостям курорта специальные программы, устроят
    детские дискотеки и театрализованные представления. Где еще родители разрешат целый день
    веселиться в парке развлечений с горками, батутом, детской железной дорогой, детским картингом,
    стрельбой из лука, автодромом, паровозиками, надувными замками и электронными играми? Также к
    услугам юных туристов детские спортивные центры с площадками для тенниса, мини-гольфа и
    стрельбы из лука, верховая езда на пони и скоростные заезды на картах. А ведь еще есть теплое,
    спокойное и неглубокое море! В дополнение к этому потрясающему набору удовольствий на
    Золотых песках открыт аквапарк «Акваполис».
</p>

<h4>Активный отдых</h4>
<p>
    Золотые пески - это настоящая Мекка для тех, кто предпочитает активный отдых! Гидроциклы,
    водные лыжи, дайвинг, виндсерфинг и прогулки на яхтах и морских трамвайчиках ждут тех гостей
    курорта, кто не мыслит отдых без водных развлечений. Любителям активного времяпровождения на
    суше Золотые пески предложат тропы для верховой езды, велосипедные дорожки, площадки для
    баскетбола, волейбола и мини-гольфа. На курорте работает множество бассейнов, теннисных кортов,
    спортзалов. Попробуйте и экстремальные развлечения: полеты на дельтаплане, парасейлинг или
    прыжки с парашютом.
</p>

<h4>Развлечения</h4>
<p>
    Уютные рестораны с отличным обслуживанием и богатым выбором блюд традиционной болгарской
    кухни в Золотых песках встречают буквально на каждом шагу. Почти в каждом заведении есть
    детское меню. Любителям классической европейской кухни или экзотических восточных блюд будут
    рады в специализированных ресторанах. Стоит заглянуть в местный амфитеатр – центр культурной
    жизни курорта. Помимо фольклорных представлений с национальными песнями и танцами
    устраиваются спектакли, концерты классической музыки и фестивали авангардной моды. Как только
    солнце заходит за горизонт, в Золотых песках оживают многочисленные дискотеки, ночные клубы и
    бары, погружая Вас в атмосферу непрекращающегося праздника. Любителей риска и азарта
    встречают современные казино. Ночную жизнь, не отпускающую вас до самого утра, лучше всего
    завершить на пляже, встретив восход солнца.
</p>

<h4>Лечение и оздоровление</h4>
<p>
    Давно подмечено, что каждый турист, отдыхавший в Золотых песках, увозит домой заряд бодрости и
    хорошего настроения на целый год, до следующего посещения этого удивительного курорта.
    Оздоровлению и восстановлению тела и души, конечно, способствуют естественные природные
    факторы: мягкий климат, ласковое солнце, морская вода, лечебная грязь и различные виды
    лекарственных растений. На курорте работают круглогодичные SPA-центры, предлагающие более
    ста оздоровительных и лечебных программ. Высококвалифицированные специалисты применяют
    различные методики китайской народной медицины, используют традиционный и тайский массажи,
    препараты на основе уникальных болгарских вин, а также прополис и пчелиный яд. На курорте
    Золотые Пески успешно вылечивают артриты, артрозы, стрессы, неврозы, хронические фарингиты и
    бронхиты.
</p>

<h4>Достопримечательности</h4>
<p>
    Отдыхая в Золотых песках, посетите скальный монастырь Святой Троицы в 4 км от курорта. В нем
    сохранились уникальные монастырские фрески, относящиеся к тырновской школе живописи.
    Съездите в часовню Св. Иоанна Крестителя, построенную под патронажем Его
    Высокопреосвященства митрополита Варенского и Преславского Кирилла. Поближе познакомиться
    с болгарскими традициями начала ХХ векам можно в этнографическом комплексе «Чифлика»,
    находящемся в 24 км от Золотых песков, в местности Батова.
</p>
</div>