@using Seemplexity.Resources
@{
    ViewBag.Title = Resources.ThanksConfirmation;
}

<h2>@Resources.ThanksConfirmation</h2>
<div class="bs-callout bs-callout-info">
    <h4>
        @Resources.ConfirmationHasSended
    </h4>
</div>
